
  /* Set map, body, and html to 100% of the screen size. */
  
  .container,
  #map,
  body,
  html {
    height: 100%;
  }

.dropdown-item {
  color: rgb(13, 80, 152);
}

.nav-link {
  color: rgb(8, 55, 106);
} 

/* Plots styling */

/* Table styling */
table, th, td {
  width:0px;
  height: 30px;
  border: solid black;
}
th{
  font-weight: bold;
  color:white
}
td{
  font-weight: bolder;
  color:yellowgreen;
  font-size: larger;
}